<!DOCTYPE html>
<html>
<head>
    <title>Cinema</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div id="container">
</div>
<div id="spinner">
    <img src="img/spinner.gif" class="spinner_gif">
</div>

<script type="text/template" id="js-homeView">
    <form>
        <h1>Cinema</h1>
            <h2>new movie</h2>

            <img src="img/popcorn.svg" class="popcorn">

            <label>Title:</label><input type="text" class="title" ><br/>
            <label>Genre:</label><input type="text" class="genre" ><br/>
            <label>Description:</label><textarea rows="4" cols="50" class="description"></textarea><br/>
            <label>Stars:</label><input type="text"  class="stars" ><br/>
            <label>Duration:</label><input type="text" class="duration" ><br/>
            <label>Image URL:</label><input type="text" class="img_url" ><br/>
            <label>IMBD:</label><input type="text" class="imbd" ><br/>

            <input type="submit" class="submit js-submit" name="submit"><br />
    </form>
    <a href="db" class="js-showDb">Show database</a>
</script>
<script type="text/template" id="js-movieView">
    <h1>Cinema</h1>
    <h2>our database</h2>
        <% if(movies.length == 0) {  %>
            <h1 class="empty">EMPTY DATABASE</h1>
            <img src="img/empty.svg" class="empty_svg">
        <% } %>
        <a  class="js-nextMovie"><img src="img/button.svg" class="button_back"></a>
        <a  class="js-prevMovie"><img src="img/button.svg" class="button"></a>

        <div id="singleMovie">
            <a href="db/<%- movies._id %>" class="js-movie" data-id="<%- movies._id %>">
                <img src="<%- movies.image_url %>" class="load_img">
                <p class="purple"><%- movies.title %></p>
            </a>

        </div>

</script>
<script type="text/template" id="js-singleMovie">
    <div class="movie">
        <div class="img_background">
            <img src="<%- movie.image_url %>">
        </div>
            <h1><%- movie.title %></h1>
            <p><%- movie.genre %></p>
            <p><%- movie.duration %></p><br/>
            <p class="desc"><%- movie.description %></p><br/>
            <a href="<%- movie.imbd_url %>">IMBD</a><br/>
            <a href="db" class="delete js-delete">DELETE</a>
     </div>
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

<script type="text/javascript"  src="/js/app.js"></script>
</body>
</html>


<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
